## This script contains:

### Import analysis libraries
### Import 'customers' and 'ords_prods' df's
### Count rows on 'customers' df
### Changing data type to reduce memory usage
### Data Wrangling Procedures
##### 1. Rename column name on 'customers' df
##### 2. Drop columns on 'customers' df
##### 1. Rename column name on 'ords_prods' df
##### 2. Drop columns on 'ords_prods' df
### Data Quality and Consistency Checks
##### 1. Checking 'customers' accurancy
##### 2. Finding and addressing mixed data types from 'customers' df
##### 3. Finding and addressing missing values on 'customers' df
##### 4. Finding and addressing duplicate records on 'customers' df
##### 1. Checking 'ords_prods' accurancy
##### 2. Finding and addressing mixed data types on 'ords_prods' df
##### 3. Finding and addressing missing values on 'ords_prods' df
##### 4. Finding and addressing duplicate records on 'ords_prods' df
### Combine dataframes
### Export 'orders_products' to pickle

### Import analysis libraries

In [2]:
import pandas as pd
import numpy as np
import os

### Import 'customers' and 'ords_prods' df's

In [3]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Defining the url
path = 'drive/My Drive/Colab Notebooks/orders_products_merged_grouped.pkl'
path_2 = 'drive/My Drive/Colab Notebooks/customers.csv'

In [5]:
# Import df as string
ords_prods = pd.read_pickle(path)
customers = pd.read_csv(path_2)

### Count rows on 'customers' df

In [6]:
# To fill on my final report
customers.shape

(206209, 10)

### Changing data type to reduce memory usage

In [7]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [8]:
# Changing data type on 'customers' df

customers['user_id'] = customers['user_id'].astype('int32')
customers['Age'] = customers['Age'].astype('int32')
customers['dependants'] = customers['n_dependants'].astype('int8')
customers['income'] = customers['income'].astype('int32')

In [9]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
 14  price_range_loc         object
 15  busiest_day             object
 16  busiest_days            object
 17  busiest_period_of_day   object
 18  max_order               int64
 19  loyalty_flag            object
 20  avg_price               float64
 21  spending_flag           object
 22  regularity              float64
 23  frequency_flag          object
dtypes: category(1), float64(4), int64(11), object(8)
memory usage: 5.8+ GB

In [10]:
# Changing data type on 'ords_prods' df

ords_prods['order_id'] = ords_prods['order_id'].astype('int32')
ords_prods['user_id'] = ords_prods['user_id'].astype('int32')
ords_prods['order_number'] = ords_prods['order_number'].astype('int8')
ords_prods['orders_day_of_week'] = ords_prods['orders_day_of_week'].astype('int8')
ords_prods['order_hour_of_day'] = ords_prods['order_hour_of_day'].astype('int8')
ords_prods['days_since_prior_order'] = ords_prods['days_since_prior_order'].astype('float16')
ords_prods['product_id'] = ords_prods['product_id'].astype('int32')
ords_prods['add_to_cart_order'] = ords_prods['add_to_cart_order'].astype('int32')
ords_prods['reordered'] = ords_prods['reordered'].astype('int32')
ords_prods['aisle_id'] = ords_prods['aisle_id'].astype('int32')
ords_prods['department_id'] = ords_prods['department_id'].astype('int32')
ords_prods['prices'] = ords_prods['prices'].astype('float16')
ords_prods['max_order'] = ords_prods['max_order'].astype('int32')
ords_prods['avg_price'] = ords_prods['avg_price'].astype('float16')
ords_prods['regularity'] = ords_prods['regularity'].astype('float16')

# Data Wrangling Procedures

In [11]:
# Checking 'customers' df
customers

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,dependants
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,3
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,0
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568,2
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049,0
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374,1
...,...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828,1
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639,3
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374,2
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799,1
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095,1

### 1. Rename column name on 'customers' df

In [12]:
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [13]:
customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [14]:
customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [15]:
customers.rename(columns = {'n_dependants' : 'dependants'}, inplace = True)

In [16]:
customers.rename(columns = {'fam_status' : 'status'}, inplace = True)

### 2. Drop columns on 'customers' df

In [17]:
customers.drop(['First Name', 'Surnam'], axis = 1, inplace = True)

In [18]:
# Checking 'ords_prods' df
ords_prods

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,regularity,frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.371094,Low spender,19.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.371094,Low spender,19.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.371094,Low spender,19.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.371094,Low spender,19.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.371094,Low spender,19.0,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,...,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer,6.910156,Low spender,10.0,Frequent customer
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,...,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer,6.910156,Low spender,10.0,Frequent customer
32404856,758936,203436,1,2,7,0.0,42338,4,0,"Zucchini Chips, Pesto",...,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer,7.628906,Low spender,20.0,Regular customer
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",...,Mid-range product,Regularly busy,Least busy,Fewest orders,3,New customer,7.628906,Low spender,20.0,Regular customer
32404858,3093936,205420,1,4,14,0.0,28818,8,0,Hot Oatmeal Multigrain Raisin,...,Mid-range product,Least busy,Least busy,Most orders,16,Regular customer,7.679688,High spender,13.0,Regular customer

### 1. Rename column name on 'ords_prods' df

No columns were renamed from 'ords_prods' df

### 2. Drop columns on 'ords_prods' df

No columns were dropped from 'ords_prods' df

# Data Quality and Consistency Checks

### 1. Checking 'customers' accurancy

In [19]:
# Getting some descriptive statistics for the numeric values

customers.describe()

,user_id,age,dependants,income,dependants
count,206209.000000,206209.000000,206209.000000,206209.000000,206209.000000
mean,103105.000000,49.501646,1.499823,94632.852548,1.499823
std,59527.555167,18.480962,1.118433,42473.786988,1.118433
min,1.000000,18.000000,0.000000,25903.000000,0.000000
25%,51553.000000,33.000000,0.000000,59874.000000,0.000000
50%,103105.000000,49.000000,1.000000,93547.000000,1.000000
75%,154657.000000,66.000000,3.000000,124244.000000,3.000000
max,206209.000000,81.000000,3.000000,593901.000000,3.000000

### 2. Finding and addressing mixed data types from 'customers' df

In [20]:
# Checking for variables with mixed data types

for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
   print (col)

# Variable 'first_name' is mixed. Data type will be addressed when I handle the missing values

### 3. Finding and addressing missing values on 'customers' df

In [21]:
# Checking how many NaN values in each variable

customers.isnull().sum()

# No missing values found

user_id        0
gender         0
state          0
age            0
date_joined    0
dependants     0
status         0
income         0
dependants     0
dtype: int64

### 4. Finding and addressing duplicate records on 'customers' df

In [22]:
# Looking for duplicates

customers[customers.duplicated()]

# No dups found

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, dependants, status, income, dependants]
Index: []

### 1. Checking 'ords_prods' accurancy

In [23]:
# Getting some descriptive statistics for the numeric values

ords_prods.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,avg_price,regularity
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,32404859.0,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,32404859.0
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,NaN,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,NaN,3.305217e+01,NaN,NaN
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,0.0,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,NaN,2.515525e+01,NaN,0.0
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.0
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.0,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.199219e+00,1.300000e+01,7.390625e+00,7.0
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.0,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.398438e+00,2.600000e+01,7.820312e+00,9.0
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,14.0,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.129688e+01,4.700000e+01,8.250000e+00,14.0
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,inf,9.900000e+01,2.500800e+04,30.0

### 2. Finding and addressing mixed data types on 'ords_prods' df

In [24]:
# Checking for variables with mixed data types

for col in ords_prods.columns.tolist():
  weird = (ords_prods[[col]].applymap(type) != ords_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (ords_prods[weird]) > 0:
   print (col)

# No mixed data types found

### 3. Finding and addressing missing values on 'ords_prods' df

In [25]:
# Checking how many NaN values in each variable

ords_prods.isnull().sum()

# There are no missing values

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
product_name              0
aisle_id                  0
department_id             0
prices                    0
_merge                    0
price_range_loc           0
busiest_day               0
busiest_days              0
busiest_period_of_day     0
max_order                 0
loyalty_flag              0
avg_price                 0
spending_flag             0
regularity                0
frequency_flag            0
dtype: int64

### 4. Finding and addressing duplicate records on 'ords_prods' df

In [26]:
# Looking for duplicates

ords_prods[ords_prods.duplicated()]

# No dups found

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, product_name, aisle_id, department_id, prices, _merge, price_range_loc, busiest_day, busiest_days, busiest_period_of_day, max_order, loyalty_flag, avg_price, spending_flag, regularity, frequency_flag]
Index: []

[0 rows x 24 columns]

# Combine dataframes

In [27]:
# Merging df's using 'user_id' variable as key

orders_products = ords_prods.merge(customers, on = 'user_id', indicator = 'True')

In [28]:
orders_products

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,frequency_flag,gender,state,age,date_joined,dependants,status,income,dependants,True
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,3,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,3,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,3,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,3,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,3,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,156685,106143,26,4,23,5.0,19675,1,1,Organic Raspberry Black Tea,...,Frequent customer,Male,Hawaii,25,5/26/2017,0,single,53755,0,both
32404855,484769,66343,1,6,11,0.0,47210,1,0,Fresh Farmed Tilapia Fillet,...,Regular customer,Female,Tennessee,22,9/12/2017,3,married,46151,3,both
32404856,1561557,66343,2,1,11,30.0,47210,1,1,Fresh Farmed Tilapia Fillet,...,Regular customer,Female,Tennessee,22,9/12/2017,3,married,46151,3,both
32404857,276317,66343,3,6,15,19.0,47210,1,1,Fresh Farmed Tilapia Fillet,...,Regular customer,Female,Tennessee,22,9/12/2017,3,married,46151,3,both
32404858,2922475,66343,4,1,12,30.0,47210,1,1,Fresh Farmed Tilapia Fillet,...,Regular customer,Female,Tennessee,22,9/12/2017,3,married,46151,3,both

### Export 'orders_products' to pickle

In [30]:
# Exporting df as pickle to my Google Drive
orders_products.to_pickle('/content/drive/My Drive/Colab Notebooks/ords_prods.pkl')